@import "Compass";

$gutterAndPadding: 30px;

// Based on https://coolors.co/d62839-ba324f-175676-4ba3c3-cce6f4
$brandColorMain: #D62839;
$brandColorMainContrast: white;
$brandColorSecondary: #BA324F;
$brandColorSecondaryContrast: white;
$brandColorTertiary: #175676;
$brandColorTertiaryContrast: #CCE6F4;
$brandColorQuaternary: #4BA3C3;
$brandColorQuaternaryContrast: white;
$brandColorQuinary: #CCE6F4;
$brandColorQuinaryContrast: black;

// Milligram framework Color overrides.
// Original can be found @ node_modules\milligram\src\_Color.sass
$color-initial: $brandColorMainContrast; // Used as Button color (default, focus, hover states)
$color-primary: $brandColorMain;         // Used on Buttons (hover-focus states), code border-left, form borders (focus state), links (default states).
$color-secondary: $brandColorTertiary;   // Used on body text, links and Buttons (hover-focus states).
// $color-tertiary: #f4f5f6;             // Used on Blockquote left border.
// $color-quaternary: #d1d1d1;           // Used on form borders (inputs, selects, textareas).
// $color-quinary: #e1e1e1;              // Used on tables border-bottom.

// Modal
$modal-bg-color: rgba(28, 37, 62, 0.92);
$modal-color: white;
$modal-border-color: rgba(255, 255, 255, 0.2);


