/* @font-face {
  font-family: 'date_stamp';
  src: url('../fonts/date_stamp/date_stamp-webfont.woff2') format('woff2'),
       url('../fonts/date_stamp/date_stamp-webfont.woff') format('woff'),
       url('../fonts/date_stamp/date_stamp-webfont.ttf') format('truetype'),
       url('../fonts/date_stamp/date_stamp-webfont.svg#date_stampregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'date_stamp_bold';
  src: url('../fonts/date_stamp/date_stamp_bold-webfont.woff2') format('woff2'),
       url('../fonts/date_stamp/date_stamp_bold-webfont.woff') format('woff'),
       url('../fonts/date_stamp/date_stamp_bold-webfont.ttf') format('truetype'),
       url('../fonts/date_stamp/date_stamp_bold-webfont.svg#date_stampbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
 */
